body {
    /*margin-left: 25%;*/
    /*margin-right: 25%;*/
    margin-top: 5em;
    font-family: 'Montserrat', sans-serif;
}

#registify {
    clear: both;
    color: #16324F;
    font-weight: 800;
}

.createRegistration {
    color: #16324F;
    font-weight: bold;
}

.labels {
    color: #909090;
}

.inputfields {
    border: 2px solid #d5d5d5;
    width: 500px;
    padding: 15px;
}

.inputfields::placeholder {
    opacity: 0.5;
    font-weight: bold;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    border: 2px solid #F3A32F;
    width: max-content;
    padding: 8px 15px;
    font-size: 1.25em;
    font-weight: bold;
    color: #909090;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #F3A32F;
    color: white;
    transition: 0.1s;
}

label {
    display: inline-block;
    width: 100px;
}

.span {
    color: #909090;
    font-weight: 800;
}

.submitButton {
    background-color: #16324F;
    width: max-content;
    padding: 8px 15px;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
    opacity: 0.5;
}

.submitButton:hover {

    opacity: 1;
    transition: 0.1s;
}

.line {
    border-left: 1px solid #d5d5d5;
    height: 245px;
    /*position: absolute;*/
    left: 20%;
    /*margin-left: -3px;*/
    /*top: 0;*/
}

#balance {
    color: black;
}

.hint {
    color: #666;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
    padding: 50px
}

/* Modal Content/Box */
.modal-content {
    background-color: #16324F;
    margin: 12.5vh auto; /* 15% from the top and centered */
    /*border: 1px solid #888;*/
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content h2 {
    font-weight: bold;
}
.modal-content h3 {
    font-weight: bold;
}

.modal-content span {
    font-weight: normal;
}
.modalText {
    color: #FFF;
}

.wrapBox {
    padding: 2vw 6vw;
}

.yellowBox {
    display: block;
    height: 50px;
    background-color: #F3A32F;
}

/* The Close Button */
#createClose {
    color: #FFF;
    padding: 1vw 2vw;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

#createClose:hover,
#createClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*** Check Modal ***/

/* The CheckModal Close Button */
#checkClose {
    color: #16324F;
    padding: 1vw 2vw;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

#checkClose:hover,
#checkClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.checkModal {
    background-color: #FFF;
}

#registrationComplete {
    color: #16324F;
}

.checkModalText{
    font-weight: bold;
}

.checkModalText span {
    color: #909090;
    font-weight: normal;
}


h2, h3 {
    color: #909090;
    font-weight: normal;
}


@media only screen and (max-width: 1200px) {
    .line {
        left: 23%;
    }
}

@media only screen and (max-width: 991px) {
    .line {
        display: none;
    }
    .horizontal-line {
        width: 100%;
        display: block !important;
        border: 0.5px solid #d5d5d5;
        margin: 40px 15px;
    }
}

@media only screen and (max-width: 780px) {
    .line {
        display: none;
    }
    .horizontal-line {
        width: 85%;
    }
}


